<div class="cases">
    <div class="cases--fon-right">
        <img src="images/fon/cases-fon-right.png" alt="">
    </div>
    <div class="cases--fon-bottom">
        <img src="images/fon/cases-fon-bottom.png" alt="">
    </div>
    <div class="modal modal2">
        <div class="modal-content modal-content2" id="outer-container">
            <div class="cases--modal-flex">
                <div class="cases--modal-img">
                    <video id="theVideo" controls>
                        <source src="images/dilime.MOV" type="video/mp4">
                        <source src="mov_bbb.ogg" type="video/ogg">
                        Your browser does not support HTML video.
                    </video>                      
                </div>
                <div class="cases--modal-box">
                    <div class="cases--modal-title">
                        Dili.me
                    </div>
                    <ul>
                        <li class="cases--modal-item">- Avval: <span>200 087</span> 
                        </li>
                        <li class="cases--modal-item">- Keyin: <span>211 929</span> 
                        </li>
                        <li class="cases--modal-item">Natija: +11 842 obunachi obunachi
                        </li>
                    </ul>
                    <div class="cases--modal-btn cases--modal-btns2">
                        <button class="cases--modal-btns black">Ortga</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal modal2">
        <div class="modal-content modal-content2" id="outer-container">
            <div class="cases--modal-flex">
                <div class="cases--modal-img">
                    <video id="theVideo2" controls>
                        <source src="images/Abdurahmon_mufid.MOV" type="video/mp4">
                        <source src="mov_bbb.ogg" type="video/ogg">
                        Your browser does not support HTML video.
                    </video>                      
                </div>
                <div class="cases--modal-box">
                    <div class="cases--modal-title">
                        Abdurahmon_mufid
                    </div>
                    <ul>
                        <li class="cases--modal-item">- Avval: <span>193 687</span> 
                        </li>
                        <li class="cases--modal-item">- Keyin: <span>200 467</span> 
                        </li>
                        <li class="cases--modal-item">Natija: +6 600 obunachi 
                        </li>
                    </ul>
                    <div class="cases--modal-btn cases--modal-btns2">
                        <button class="cases--modal-btns black">Ortga</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal modal2">
        <div class="modal-content modal-content2" id="outer-container">
            <div class="cases--modal-flex">
                <div class="cases--modal-img">
                    <img src="images/bloger/aziz estet.png" alt="">                   
                </div>
                <div class="cases--modal-box">
                    <div class="cases--modal-title">
                        Aziz Estet
                    </div>
                    <ul>
                        <li class="cases--modal-item">- Avval: <span>230 700</span> 
                        </li>
                        <li class="cases--modal-item">- Keyin: <span>235 000</span> 
                        </li>
                        <li class="cases--modal-item">Natija: +4 300  obunachi 
                        </li>
                    </ul>
                    <div class="cases--modal-btn cases--modal-btns2">
                        <button class="cases--modal-btns black">Ortga</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal modal2">
        <div class="modal-content modal-content2" id="outer-container">
            <div class="cases--modal-flex">
                <div class="cases--modal-img">
                    <video id="theVideo3" controls>
                        <source src="images/javavideo.mp4" type="video/mp4">
                        <source src="mov_bbb.ogg" type="video/ogg">
                        Your browser does not support HTML video.
                    </video>                
                </div>
                <div class="cases--modal-box">
                    <div class="cases--modal-title">
                        Javarasulov
                    </div>
                    <ul>
                        <li class="cases--modal-item">- Avval: <span>176 000</span> 
                        </li>
                        <li class="cases--modal-item">- Keyin: <span>177 136</span> 
                        </li>
                        <li class="cases--modal-item">Natija: +1 136 obunachi
                        </li>
                    </ul>
                    <div class="cases--modal-btn cases--modal-btns2">
                        <button class="cases--modal-btns black">Ortga</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal modal2">
        <div class="modal-content modal-content2" id="outer-container">
            <div class="cases--modal-flex">
                <div class="cases--modal-img">
                    <video id="theVideo4" controls>
                        <source src="images/lingo.mp4" type="video/mp4">
                        <source src="mov_bbb.ogg" type="video/ogg">
                        Your browser does not support HTML video.
                    </video>                
                </div>
                <div class="cases--modal-box">
                    <div class="cases--modal-title">
                        Linguabarno
                    </div>
                    <ul>
                        <li class="cases--modal-item">- Avval: <span>187 783</span> 
                        </li>
                        <li class="cases--modal-item">- Keyin: <span>190 437</span> 
                        </li>
                        <li class="cases--modal-item">Natija: +2 654 obunachi
                        </li>
                    </ul>
                    <div class="cases--modal-btn cases--modal-btns2">
                        <button class="cases--modal-btns black">Ortga</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal modal2">
        <div class="modal-content modal-content2" id="outer-container">
            <div class="cases--modal-flex">
                <div class="cases--modal-img">
                    <img src="images/bloger/komolqohhorov.png" alt="">              
                </div>
                <div class="cases--modal-box">
                    <div class="cases--modal-title">
                        Komolqohhorov1
                    </div>
                    <ul>
                        <li class="cases--modal-item">- Avval: <span>177 000</span> 
                        </li>
                        <li class="cases--modal-item">- Keyin: <span>179 996</span> 
                        </li>
                        <li class="cases--modal-item">Natija: +2 996 obunachi
                        </li>
                    </ul>
                    <div class="cases--modal-btn cases--modal-btns2">
                        <button class="cases--modal-btns black">Ortga</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="cases--title">
            Blogerlar bilan reklama 
            integratsiyasi:
        </div>
        <div class="cases--box">
            <div class="cases--item">
                <div class="cases--img">
                    <div class="cases--name">Dili.me</div>
                    <img src="images/bloger/dillime.png" alt="">
                </div>
                <div class="cases--bottom cases--bottom2">
                    <div class="cases--bottom-add">
                        qoshimcha
                    </div>
                    <div class="cases--bottom-svg">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M5 12H19" stroke="#F1F1F1" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M12 5L19 12L12 19" stroke="#F1F1F1" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>                            
                    </div>
                </div>
            </div>
            <div class="cases--item">
                <div class="cases--img">
                    <div class="cases--name">Abdurahmon_mufid</div>
                    <img src="images/bloger/abdurahmon.png" alt="">
                </div>
                <div class="cases--bottom cases--bottom2">
                    <div class="cases--bottom-add">
                        qoshimcha
                    </div>
                    <div class="cases--bottom-svg">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M5 12H19" stroke="#F1F1F1" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M12 5L19 12L12 19" stroke="#F1F1F1" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>                            
                    </div>
                </div>
            </div>
            <div class="cases--item">
                <div class="cases--img">
                    <div class="cases--name">Aziz Estet</div>
                    <img src="images/bloger/aziz estet.png" alt="">
                </div>
                <div class="cases--bottom cases--bottom2">
                    <div class="cases--bottom-add">
                        qoshimcha
                    </div>
                    <div class="cases--bottom-svg">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M5 12H19" stroke="#F1F1F1" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M12 5L19 12L12 19" stroke="#F1F1F1" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>                            
                    </div>
                </div>
            </div>
            <div class="cases--item">
                <div class="cases--img">
                    <div class="cases--name">Javarasulov</div>
                    <img src="images/bloger/javarasulov.png" alt="">
                </div>
                <div class="cases--bottom cases--bottom2">
                    <div class="cases--bottom-add">
                        qoshimcha
                    </div>
                    <div class="cases--bottom-svg">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M5 12H19" stroke="#F1F1F1" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M12 5L19 12L12 19" stroke="#F1F1F1" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>                            
                    </div>
                </div>
            </div>
            <div class="cases--item">
                <div class="cases--img">
                    <div class="cases--name">Linguabarno</div>
                    <img src="images/bloger/kinguabarno.png" alt="">
                </div>
                <div class="cases--bottom cases--bottom2">
                    <div class="cases--bottom-add">
                        qoshimcha
                    </div>
                    <div class="cases--bottom-svg">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M5 12H19" stroke="#F1F1F1" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M12 5L19 12L12 19" stroke="#F1F1F1" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>                            
                    </div>
                </div>
            </div>
            <div class="cases--item">
                <div class="cases--img">
                    <div class="cases--name">Komolqohhorov1</div>
                    <img src="images/bloger/komolqohhorov.png" alt="">
                </div>
                <div class="cases--bottom cases--bottom2">
                    <div class="cases--bottom-add">
                        qoshimcha
                    </div>
                    <div class="cases--bottom-svg">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M5 12H19" stroke="#F1F1F1" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M12 5L19 12L12 19" stroke="#F1F1F1" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>                            
                    </div>
                </div>
            </div>
        </div>
        <div class="cases--box media-none">
            <div class="swiper mySwiper5">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <div class="cases--item">
                        <div class="cases--img">
                            <div class="cases--name">Dili.me</div>
                            <img src="images/bloger/dillime.png" alt="">
                        </div>
                        <div class="cases--bottom cases--bottom2">
                            <div class="cases--bottom-add">
                                qoshimcha
                            </div>
                            <div class="cases--bottom-svg">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M5 12H19" stroke="#F1F1F1" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M12 5L19 12L12 19" stroke="#F1F1F1" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>                            
                            </div>
                        </div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="cases--item">
                        <div class="cases--img">
                            <div class="cases--name">Abdurahmon_mufid</div>
                            <img src="images/bloger/abdurahmon.png" alt="">
                        </div>
                        <div class="cases--bottom cases--bottom2">
                            <div class="cases--bottom-add">
                                qoshimcha
                            </div>
                            <div class="cases--bottom-svg">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M5 12H19" stroke="#F1F1F1" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M12 5L19 12L12 19" stroke="#F1F1F1" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>                            
                            </div>
                        </div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="cases--item">
                        <div class="cases--img">
                            <div class="cases--name">Aziz Estet</div>
                            <img src="images/bloger/aziz estet.png" alt="">
                        </div>
                        <div class="cases--bottom cases--bottom2">
                            <div class="cases--bottom-add">
                                qoshimcha
                            </div>
                            <div class="cases--bottom-svg">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M5 12H19" stroke="#F1F1F1" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M12 5L19 12L12 19" stroke="#F1F1F1" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>                            
                            </div>
                        </div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="cases--item">
                        <div class="cases--img">
                            <div class="cases--name">Javarasulov</div>
                            <img src="images/bloger/javarasulov.png" alt="">
                        </div>
                        <div class="cases--bottom cases--bottom2">
                            <div class="cases--bottom-add">
                                qoshimcha
                            </div>
                            <div class="cases--bottom-svg">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M5 12H19" stroke="#F1F1F1" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M12 5L19 12L12 19" stroke="#F1F1F1" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>                            
                            </div>
                        </div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="cases--item">
                        <div class="cases--img">
                            <div class="cases--name">Linguabarno</div>
                            <img src="images/bloger/kinguabarno.png" alt="">
                        </div>
                        <div class="cases--bottom cases--bottom2">
                            <div class="cases--bottom-add">
                                qoshimcha
                            </div>
                            <div class="cases--bottom-svg">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M5 12H19" stroke="#F1F1F1" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M12 5L19 12L12 19" stroke="#F1F1F1" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>                            
                            </div>
                        </div>
                    </div>
                  </div> 
                  <div class="swiper-slide">
                    <div class="cases--item">
                        <div class="cases--img">
                            <div class="cases--name">Komolqohhorov1</div>
                            <img src="images/bloger/komolqohhorov.png" alt="">
                        </div>
                        <div class="cases--bottom cases--bottom2">
                            <div class="cases--bottom-add">
                                qoshimcha
                            </div>
                            <div class="cases--bottom-svg">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M5 12H19" stroke="#F1F1F1" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M12 5L19 12L12 19" stroke="#F1F1F1" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>                            
                            </div>
                        </div>
                    </div>
                  </div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </div>
</div>