<div class="cases">
    <div class="modal">
        <div class="modal-content" id="outer-container">
            <div class="cases--modal-flex">
                <div class="cases--modal-img">
                    <img src="images/ulugbek.png" alt="">
                </div>
                <div class="cases--modal-box">
                    <div class="cases--modal-title">
                        Ulug'bek Pulatov
                        Shaxsiy brend:
                    </div>
                    <ul>
                        <li class="cases--modal-item">- 0 dan 20 ming obunachiga ega telegram kanal mashxurlik cho'qqisida.</li>
                        <li class="cases--modal-item">- Instagramda 0 dan 233 minggacha obunachi.</li>
                        <li class="cases--modal-item">- Instagram orqali 1ta patokning o'zidayoq 850 ta õquvchi qabul qilindi. </li>
                        <li class="cases--modal-item">- Kurs uchun 850 o'rin sotilgan.
                        </li>
                        <li class="cases--modal-item">- Televizor va ommaviy axborot vositalarida 10 ga yaqin chiqishlar. </li>
                    </ul>
                    <div class="cases--modal-btn">
                        <button class="cases--modal-btns black">Ortga</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal">
        <div class="modal-content">
            <div class="cases--modal-flex">
                <div class="cases--modal-img">
                    <img src="images/pulatov2.png" alt="">
                </div>
                <div class="cases--modal-box">
                    <div class="cases--modal-title">
                        Pulatov School:
                    </div>
                    <ul>
                        <li class="cases--modal-item">- 6000 dan ortiq o'quvchilar
                        </li>
                        <li class="cases--modal-item">- Instagramda 0 dan 12 minggacha obunachi
                            .</li>
                        <li class="cases--modal-item">- 2020 yilda "2020 yil brendi" premiyasi bilan mukofotlanildi, bunda maktabimiz onlayn maktablar orasida 1-o'rinni va barcha maktablar orasida oflayn maktablardan keyin 4-o'rinni egalladi.
                        </li>
                        <li class="cases--modal-item">- O'tgan yili hisobida - 110 000 dan ortiq vebinarlar ishtirokchilari
                            .
                        </li>
                        <li class="cases--modal-item">- O'tgan yili hisobida yangi o'quvchilar soni - 1000 dan ortiq
                        </li>
                        <li class="cases--modal-item">- O'tgan yili hisobida maktab aylanmasi - 400 ming dollardan ortiq
                        </li>
                        <li class="cases--modal-item">- Reklama byudjeti - 60 000 $ ortiq
                        </li>
                        <li class="cases--modal-item">- O'rtacha РОМИ (reklama sotib olinishi) = 650%</li>
                    </ul>
                    <div class="cases--modal-btn">
                        <button class="cases--modal-btns black">Ortga</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal">
        <div class="modal-content">
            <div class="cases--modal-flex">
                <div class="cases--modal-img">
                    <img src="images/la crema.jpg" alt="">
                </div>
                <div class="cases--modal-box">
                    <div class="cases--modal-title">
                        La Crema:
                    </div>
                    <ul>
                        <li class="cases--modal-item">- Reklama integratsiyasi. Rolik yaratish.</li>
                        <li class="cases--modal-item">- SMM-jamoasini yaratish.</li>
                        <li class="cases--modal-item">- Blogerlar va yulduzlarni konsultatsiyasi va yordamini olishda ularga sovg'ali bokslar taqdim etish.
                        </li>
                    </ul>
                    <div class="cases--modal-btn">
                        <button class="cases--modal-btns black">Ortga</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal">
        <div class="modal-content">
            <div class="cases--modal-flex">
                <div class="cases--modal-img">
                    <img src="images/cases/gumbaz.png" alt="">
                </div>
                <div class="cases--modal-box">
                    <div class="cases--modal-title">
                        Gumbaz:                
                    </div>
                    <ul>
                        <li class="cases--modal-item">- reklama integratsiyasi.</li>
                        <li class="cases--modal-item">Natija: obunachilar va sotuvlarning oshishi, brendning tanilishi
                        </li>
                    </ul>
                    <div class="cases--modal-btn">
                        <button class="cases--modal-btns black">Ortga</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal">
        <div class="modal-content">
            <div class="cases--modal-flex">
                <div class="cases--modal-img">
                    <img src="images/cases/Mask group.png" alt="">
                </div>
                <div class="cases--modal-box">
                    <div class="cases--modal-title">
                        BeaUniverse:                
                    </div>
                    <ul>
                        <li class="cases--modal-item">- 2 ta konsultatsiya.
                        </li>
                        <li class="cases--modal-item">- modellar bilan suratga olish jarayonini tashkillashtirish.
                        </li>
                        <li class="cases--modal-item">Natija: obunachilar va  sotuvlarning oshishi , brendning tanilishi.
                        </li>
                    </ul>
                    <div class="cases--modal-btn">
                        <button class="cases--modal-btns black">Ortga</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal">
        <div class="modal-content">
            <div class="cases--modal-flex">
                <div class="cases--modal-img">
                    <img src="images/cases/alhadaya.png" alt="">
                </div>
                <div class="cases--modal-box">
                    <div class="cases--modal-title">
                        Alhadaya:                
                    </div>
                    <ul>
                        <li class="cases--modal-item">- 1000 dan ortiq arizalar kelib tushdi va natijada 800 million so‘mdan ortiq mablag‘ aylanmasiga erishildi.
                        </li>
                        <li class="cases--modal-item">- Yulduzlar bilan ishlash uchun kontent strategiyasi yaratildi.
                        </li>
                        <li class="cases--modal-item">– 1335 ta lidlar jalb qilinib, natijada 300 million so‘mlik savdo amalga oshirildi.
                        </li>
                        <li class="cases--modal-item">- Kompaniya mahsulotini reklama qilish uchun 8 ga yaqin blogerlar bunga jalb qilindi.
                        </li>
                        <li class="cases--modal-item">- Alhadayaning yangi mahsulotlar  taqdimotiga taniqli blogerlar jalb qilindi.
                        </li>
                        <li class="cases--modal-item">Natija: obunachilar va sotuvlarning oshishi,  brend tanilishi.
                        </li>
                    </ul>
                    <div class="cases--modal-btn">
                        <button class="cases--modal-btns black">Ortga</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="cases--fon-left">
        <img src="images/fon/cases-fon-left.png" alt="">
    </div>
    <div class="container">
        <div class="cases--title">
            Keyslarimiz:
        </div>
        <div class="cases--box">
            <div class="cases--item">
                <div class="cases--img">
                    <span>Ulug‘bek Pulatov</span>
                    <img src="images/pulatov.png" alt="">
                </div>
                <div class="cases--bottom">
                    <div class="cases--bottom-add">
                        qoshimcha
                    </div>
                    <div class="cases--bottom-svg">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M5 12H19" stroke="#F1F1F1" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M12 5L19 12L12 19" stroke="#F1F1F1" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>                            
                    </div>
                </div>
            </div>
            <div class="cases--item">
                <div class="cases--img">
                    <span>Pulatov school</span>
                    <img src="images/cases/school.png" alt="">
                </div>
                <div class="cases--bottom">
                    <div class="cases--bottom-add">
                        qoshimcha
                    </div>
                    <div class="cases--bottom-svg">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M5 12H19" stroke="#F1F1F1" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M12 5L19 12L12 19" stroke="#F1F1F1" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>                            
                    </div>
                </div>
            </div>
            <div class="cases--item crema">
                <div class="cases--img">
                    <span>La Crema</span>
                    <img src="images/la crema.jpg" alt="">
                </div>
                <div class="cases--bottom">
                    <div class="cases--bottom-add">
                        qoshimcha
                    </div>
                    <div class="cases--bottom-svg">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M5 12H19" stroke="#F1F1F1" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M12 5L19 12L12 19" stroke="#F1F1F1" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>                            
                    </div>
                </div>
            </div>
            <div class="cases--item">
                <div class="cases--img">
                    <span>Gumbaz</span>
                    <img src="images/cases/gumbaz.png" alt="">
                </div>
                <div class="cases--bottom">
                    <div class="cases--bottom-add">
                        qoshimcha
                    </div>
                    <div class="cases--bottom-svg">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M5 12H19" stroke="#F1F1F1" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M12 5L19 12L12 19" stroke="#F1F1F1" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>                            
                    </div>
                </div>
            </div>
            <div class="cases--item">
                <div class="cases--img">
                    <span>BeaUniverse</span>
                    <img src="images/cases/Mask group.png" alt="">
                </div>
                <div class="cases--bottom">
                    <div class="cases--bottom-add">
                        qoshimcha
                    </div>
                    <div class="cases--bottom-svg">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M5 12H19" stroke="#F1F1F1" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M12 5L19 12L12 19" stroke="#F1F1F1" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>                            
                    </div>
                </div>
            </div>
            <div class="cases--item">
                <div class="cases--img">
                    <span>Alhadaya</span>
                    <img src="images/cases/alhadaya.png" alt="">
                </div>
                <div class="cases--bottom">
                    <div class="cases--bottom-add">
                        qoshimcha
                    </div>
                    <div class="cases--bottom-svg">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M5 12H19" stroke="#F1F1F1" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M12 5L19 12L12 19" stroke="#F1F1F1" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>                            
                    </div>
                </div>
            </div>
        </div>
        <div class="cases--box media-none">
            <div class="swiper mySwiper4">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <div class="cases--item">
                        <div class="cases--img">
                            <span>Ulug‘bek Pulatov</span>
                            <img src="images/pulatov.png" alt="">
                        </div>
                        <div class="cases--bottom">
                            <div class="cases--bottom-add">
                                qoshimcha
                            </div>
                            <div class="cases--bottom-svg">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M5 12H19" stroke="#F1F1F1" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M12 5L19 12L12 19" stroke="#F1F1F1" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>                            
                            </div>
                        </div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="cases--item">
                        <div class="cases--img">
                            <span>Pulatov school</span>
                            <img src="images/cases/school.png" alt="">
                        </div>
                        <a href="#ex2" rel="modal:open" class="cases--bottom">
                            <div class="cases--bottom-add">
                                qoshimcha
                            </div>
                            <div class="cases--bottom-svg">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M5 12H19" stroke="#F1F1F1" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M12 5L19 12L12 19" stroke="#F1F1F1" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>                            
                            </div>
                        </a>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="cases--item crema">
                        <div class="cases--img">
                            <span>La Crema</span>
                            <img src="images/la crema.jpg" alt="">
                        </div>
                        <a href="#ex3" rel="modal:open" class="cases--bottom">
                            <div class="cases--bottom-add">
                                qoshimcha
                            </div>
                            <div class="cases--bottom-svg">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M5 12H19" stroke="#F1F1F1" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M12 5L19 12L12 19" stroke="#F1F1F1" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>                            
                            </div>
                        </a>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="cases--item">
                        <div class="cases--img">
                            <span>Gumbaz</span>
                            <img src="images/cases/gumbaz.png" alt="">
                        </div>
                        <div class="cases--bottom">
                            <div class="cases--bottom-add">
                                qoshimcha
                            </div>
                            <div class="cases--bottom-svg">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M5 12H19" stroke="#F1F1F1" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M12 5L19 12L12 19" stroke="#F1F1F1" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>                            
                            </div>
                        </div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="cases--item">
                        <div class="cases--img">
                            <span>BeaUniverse</span>
                            <img src="images/cases/Mask group.png" alt="">
                        </div>
                        <div class="cases--bottom">
                            <div class="cases--bottom-add">
                                qoshimcha
                            </div>
                            <div class="cases--bottom-svg">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M5 12H19" stroke="#F1F1F1" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M12 5L19 12L12 19" stroke="#F1F1F1" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>                            
                            </div>
                        </div>
                    </div>
                  </div> 
                  <div class="swiper-slide">
                    <div class="cases--item">
                        <div class="cases--img">
                            <span>Alhadaya</span>
                            <img src="images/cases/alhadaya.png" alt="">
                        </div>
                        <div class="cases--bottom">
                            <div class="cases--bottom-add">
                                qoshimcha
                            </div>
                            <div class="cases--bottom-svg">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M5 12H19" stroke="#F1F1F1" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M12 5L19 12L12 19" stroke="#F1F1F1" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>                            
                            </div>
                        </div>
                    </div>
                  </div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
</div>

