<div class="founder">
    <div class="founder--fon-left">
        <img src="images/fon/founder-fon.png" alt="">
    </div>
    <div class="founder--soat">
        <img src="images/founder-soat.png" alt="">
    </div>
    <div class="container">
        <div class="founder--box">
            <div class="founder--img">
                <img src="images/ulug'bekpulatov.png" alt="">
            </div>
            <div class="founder--right">
                <div class="founder--title">
                    bizning <br>
                    asoschimiz:
                </div>
                <div class="founder--text">
                    Ulug‘bek Pulatov – internet marketolog va tadbirkor.
                    Birinchi kasbi, 14 yoshida - restoranda fotograf. 
                    2.5 yil davomida muzqaymoq sotgan.
                    Sochi, Malayziya, Tayland, Indoneziya orollarida va Balida yashagan. 
                    Missiyasi: Pulatov School maktabi yordamida 10 000 dan ziyod insonlarning hayotini o‘zgartirish.
                </div>
            </div>
        </div>
    </div>
</div>