<div class="ourabout" id="ourabout">
    <div class="ourabout--fon">
        <img src="images/fon/ourabout-fon.png" alt="">
    </div>
    <div class="container">
        <div class="ourabout--header">
            <div class="ourabout--title w-50">
                biz <img src="images/about-cursor.png" alt=""> <br>
                haqimizda
            </div>
            <div class="ourabout--card w-50">
                <div class="ourabout--card-title">
                    $500-$1000 
                </div>
                <div class="ourabout--card-text">
                    Ilk marotaba boshlayotgan inson birinchi yarim yilda $500-$1000; 
                        Mutaxassis esa jamoa bilan bir necha 10 barobar ko'p daromad topa oladi.
                </div>
            </div>
        </div>
        <div class="ourabout--flex">
            <div class="ourabout--card w-15">
                <span class="ourabout--card-title">
                    6000+
                </span>
                <div class="ourabout--card-text">
                    O‘quvchilar
                </div>
            </div>
            <div class="ourabout--card w-20">
                <span class="ourabout--card-title">
                    68%+
                </span>
                <div class="ourabout--card-text">
                    O‘quvchilar 
                    daromadga chiqishgan.
                </div>
            </div>
            <div class="ourabout--card w-40">
                <span class="ourabout--card-title">
                    Pulatov School
                </span>
                <div class="ourabout--card-text">
                    zamonaviy kasblar 
akademiyasi. Bizda barcha darslar online olib boriladi.
                </div>
            </div>
            <div class="ourabout--card w-20">
                <span class="ourabout--card-title">
                    2018-yili 
                </span>
                <div class="ourabout--card-text">
                    Ulug‘bek Pulatov 
tomonidan asos solingan.
                </div>
            </div>
        </div>
        <div class="ourabout--flex">
            <div class="ourabout--card w-24">
                <span class="ourabout--card-title">
                    2 hafta
                </span>
                <div class="ourabout--card-text">
                    Eng qisqa muddatda foyda 
                ko‘rgan o‘quvchi 2 hafta 
                sarflagan.
                </div>
            </div>
            <div class="ourabout--card w-32">
                <span class="ourabout--card-title">
                    1.000.000
                </span>
                <div class="ourabout--card-text">
                    Eng kam obunachi bilan foyda ko‘rgan
                    o‘quvchi (26 obunachi) 4 hafta ichida 1mln 
                    so‘m olgan.
                </div>
            </div>
            <div class="ourabout--card w-41">
                <span class="ourabout--card-title">
                    Bizning missiyamiz
                </span>
                <div class="ourabout--card-text">
                    O’zbekiston yoshlariga zamonaviy kasblarni
                    o’rgatish va u orqali daromad topishlarini ta’minlash.      
                </div>
            </div>
        </div>
    </div>
</div>