<div class="speaker" id="speaker">
    <div class="container">
        <div class="speaker--title">
            Speakerlarimiz
        </div>
        <div class="speaker--box">
            <div class="swiper mySwiper2">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="speaker--item">
                            <img src="images/speaker-4.png" alt="">
                        </div>
                        <div class="speaker--block">
                            <div class="speaker--box-title">
                                Abdukadirov Jahongir 
                            </div>
                            <div class="speaker--box-text">
                                SMM noldan kursida telegram bo’yicha speaker <br> Telegram kanallar bilan ishlashda 3 yillik tajriba.
                                 <br>
                                 100,000 dan ortiq auditoriyaga ega shaxsiy
                                 kanallarni rivojlantirish.
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="speaker--item">
                            <img src="images/speaker-2.png" alt="">
                        </div>
                        <div class="speaker--block">
                            <div class="speaker--box-title">
                                Bekzod Mirmakhmudov
                            </div>
                            <div class="speaker--box-text">
                                SMM noldan kursida Youtube va Tiktok bo’yicha speaker <br> Maktab seriali digital pradyuseri
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="speaker--item">
                            <img src="images/speaker-3.png" alt="">
                        </div>
                        <div class="speaker--block">
                            <div class="speaker--box-title">
                                G’aniyeva Maftuna
                            </div>
                            <div class="speaker--box-text">
                                Bloger, Psixolog, Smm-mutaxassis, Marketolog  <br>
                                marketingdan 4 yil tajribaga ega
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="speaker--item">
                            <img src="images/speaker-1.png" alt="">
                        </div>
                        <div class="speaker--block">
                            <div class="speaker--box-title">
                                Isomiddinov Sirojiddin
                            </div>
                            <div class="speaker--box-text">
                                SMM noldan kursimizda Storislar Yuritish <br> Tematikasi va Bloggerlardan Reklama olish <br>
                                bo'yicha speaker
                            </div>
                        </div>
                    </div>
                    
                    
                    <div class="swiper-slide">
                        <div class="speaker--item">
                            <img src="images/speaker-5.png" alt="">
                        </div>
                        <div class="speaker--block">
                            <div class="speaker--box-title">
                                Abbos Shukurov
                            </div>
                            <div class="speaker--box-text">
                                SMM Noldan kursi bo'yicha speaker <br> UI/UX Designer
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-button-prev">
                    <img src="images/speaker-left.svg" alt="">
                </div>
                <div class="swiper-button-next">
                    <img src="images/speaker-right.svg" alt="">               
                </div>
            </div>
        </div>
    </div>
</div>