<div class="team" id="team">
    <div class="container">
        <div class="team--title">
            Bizning jamoa
        </div>
        <div class="team--box">
            <div class="team--tabs">
                <div class="team--tab active">Top menedjerlar</div>
                <div class="team--tab">Sotuv bo‘limi</div>
                <div class="team--tab">Otdel produkt</div>
            </div>
            <div class="team--block active">
                <div class="team--block-i">
                    <div class="team--block-img">
                        <img src="images/mixail.png" alt="">
                    </div>
                    <div class="team--pos">
                        <div class="team--fullname">
                            Mixail Nedobr
                        </div>
                        <div class="team--job">
                            direktor 
                        </div>
                    </div>
                </div>
                <div class="team--block-i">
                    <div class="team--block-img">
                        <img src="images/isomiddin.png" alt="">
                    </div>
                    <div class="team--pos">
                        <div class="team--fullname">
                            isomiddinov sirojiddin
                        </div>
                        <div class="team--job">
                            Biznes menedjer 
                        </div>
                    </div>
                </div>
                <div class="team--block-i">
                    <div class="team--block-img">
                        <img src="images/zarina.png" alt="">
                    </div>
                    <div class="team--pos">
                        <div class="team--fullname">
                            Mirzayeva Zarina
                        </div>
                        <div class="team--job">
                            Otdel prodaj rahbari
                        </div>
                    </div>
                </div>
                <div class="team--block-i">
                    <div class="team--block-img">
                        <img src="images/anas.png" alt="">
                    </div>
                    <div class="team--pos">
                        <div class="team--fullname">
                            Anastasiya Platonova
                        </div>
                        <div class="team--job">
                            Pradyuser  Menedjer 
                        </div>
                    </div>
                </div>
                <div class="team--block-i">
                    <div class="team--block-img">
                        <img src="images/kamen.png" alt="">
                    </div>
                    <div class="team--pos">
                        <div class="team--fullname">
                            Anna kamenets
                        </div>
                        <div class="team--job">
                            marketolog 
                        </div>
                    </div>
                </div>
                <div class="team--block-i">
                    <div class="team--block-img">
                        <img src="images/an.png" alt="">
                    </div>
                    <div class="team--pos">
                        <div class="team--fullname">
                            Anna plis
                        </div>
                        <div class="team--job">
                            marketolog 
                        </div>
                    </div>
                </div>
                <div class="team--block-i">
                    <div class="team--block-img">
                        <img src="images/sevinch.png" alt="">
                    </div>
                    <div class="team--pos">
                        <div class="team--fullname">
                            Mirzaeva Sevinchhon
                        </div>
                        <div class="team--job">
                            Otdel produkt rahbari
                        </div>
                    </div>
                </div>
            </div>
            <div class="team--block">
                <div class="team--block-i">
                    <div class="team--block-img">
                        <img src="images/team/team-z.png" alt="">
                    </div>
                    <div class="team--pos">
                        <div class="team--fullname">
                            Mirzayeva Zarina
                        </div>
                        <div class="team--job">
                            Otdel prodaj rahbari 
                        </div>
                    </div>
                </div>
                <div class="team--block-i">
                    <div class="team--block-img">
                        <img src="images/team/team-m.png" alt="">
                    </div>
                    <div class="team--pos">
                        <div class="team--fullname">
                            Mamasoliyeva Muqaddam
                        </div>
                        <div class="team--job">
                            Chat menedjer 
                        </div>
                    </div>
                </div>
                <div class="team--block-i">
                    <div class="team--block-img">
                        <img src="images/team/team-marxabo.png" alt="">
                    </div>
                    <div class="team--pos">
                        <div class="team--fullname">
                            Juraeva Marhabo
                        </div>
                        <div class="team--job">
                            Soruv menedjeri
                        </div>
                    </div>
                </div>
                <div class="team--block-i">
                    <div class="team--block-img">
                        <img src="images/team/team-g.png" alt="">
                    </div>
                    <div class="team--pos">
                        <div class="team--fullname">
                            Dilmurodova Guzal
                        </div>
                        <div class="team--job">
                            Sotuv menedjeri
                        </div>
                    </div>
                </div>
                <div class="team--block-i">
                    <div class="team--block-img">
                        <img src="images/team/team-k.png" alt="">
                    </div>
                    <div class="team--pos">
                        <div class="team--fullname">
                            Bekmurodova  Kubaro
                        </div>
                        <div class="team--job">
                            Sotuv menedjeri
                        </div>
                    </div>
                </div>
                <div class="team--block-i">
                    <div class="team--block-img">
                        <img src="images/team/team-sh.png" alt="">
                    </div>
                    <div class="team--pos">
                        <div class="team--fullname">
                            Mirzayeva Shohsanam
                        </div>
                        <div class="team--job">
                            Assistent
                        </div>
                    </div>
                </div>
                <div class="team--block-i">
                    <div class="team--block-img">
                        <img src="images/team/team-nigora.png" alt="">
                    </div>
                    <div class="team--pos">
                        <div class="team--fullname">
                            Musayeva Nigora
                        </div>
                        <div class="team--job">
                            Sotuv menedjeri
                        </div>
                    </div>
                </div>
            </div>
            <div class="team--block">
                <div class="team--block-i">
                    <div class="team--block-img">
                        <img src="images/sevinch.png" alt="">
                    </div>
                    <div class="team--pos">
                        <div class="team--fullname">
                            Mirzaeva Sevinchhon
                        </div>
                        <div class="team--job">
                            Otdel produkt rahbari
                        </div>
                    </div>
                </div>
                <div class="team--block-i">
                    <div class="team--block-img">
                        <img src="images/team/team-muxriddin.png" alt="">
                    </div>
                    <div class="team--pos">
                        <div class="team--fullname">
                            Muxriddin Amirov
                        </div>
                        <div class="team--job">
                            Katta kurator 
                        </div>
                    </div>
                </div>
                <div class="team--block-i">
                    <div class="team--block-img">
                        <img src="images/team/team-sarvar.png" alt="">
                    </div>
                    <div class="team--pos">
                        <div class="team--fullname">
                            Anvarov Sarvar
                        </div>
                        <div class="team--job">
                            Kurator
                        </div>
                    </div>
                </div>
                <div class="team--block-i">
                    <div class="team--block-img">
                        <img src="images/team/team-tursunbek.png" alt="">
                    </div>
                    <div class="team--pos">
                        <div class="team--fullname">
                            Avazbekov Tursunbek
                        </div>
                        <div class="team--job">
                            Target Kurator
                        </div>
                    </div>
                </div>
                <div class="team--block-i">
                    <div class="team--block-img">
                        <img src="images/team/team-komila.png" alt="">
                    </div>
                    <div class="team--pos">
                        <div class="team--fullname">
                            Xismatullina Komila
                        </div>
                        <div class="team--job">
                            SMM kurator
                        </div>
                    </div>
                </div>
                <div class="team--block-i">
                    <div class="team--block-img">
                        <img src="images/team/team-eldor.png" alt="">
                    </div>
                    <div class="team--pos">
                        <div class="team--fullname">
                            Eldor Karimov
                        </div>
                        <div class="team--job">
                            Yordamchi
                        </div>
                    </div>
                </div>
                <div class="team--block-i">
                    <div class="team--block-img">
                        <img src="images/team/team-ismoil.png" alt="">
                    </div>
                    <div class="team--pos">
                        <div class="team--fullname">
                            Alimov Ismoil
                        </div>
                        <div class="team--job">
                            Tex poderjka
                        </div>
                    </div>
                </div>
                <div class="team--block-i">
                    <div class="team--block-img">
                        <img src="images/team/team-shaxrizoda.png" alt="">
                    </div>
                    <div class="team--pos">
                        <div class="team--fullname">
                            Axmedova Shaxrizoda
                        </div>
                        <div class="team--job">
                            Sertifikat bo'limida
                        </div>
                    </div>
                </div>
                <div class="team--block-i">
                    <div class="team--block-img">
                        <img src="images/team/team-muhammadsodiq.png" alt="">
                    </div>
                    <div class="team--pos">
                        <div class="team--fullname">
                            Muhammadsodiq <br>
                            Shamsidinov
                        </div>
                        <div class="team--job">
                            grafik dizayner
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="team team-none" id="team">
    <div class="container">
        <div class="team--title">
            Bizning jamoa
        </div>
        <div class="team--box">
            <div class="team--tabs">
                <div class="team--tab active">Top menedjerlar</div>
                <div class="team--tab">Sotuv bo‘limi</div>
                <div class="team--tab">Otdel produkt</div>
            </div>
            <div class="team--block active">
                <div class="swiper mySwiper6">
                    <div class="swiper-wrapper">
                      <div class="swiper-slide">
                        <div class="team--block-i">
                            <div class="team--block-img">
                                <img src="images/mixail.png" alt="">
                            </div>
                            <div class="team--pos">
                                <div class="team--fullname">
                                    Mixail Nedobr
                                </div>
                                <div class="team--job">
                                    direktor 
                                </div>
                            </div>
                        </div>
                      </div>
                      <div class="swiper-slide">
                        <div class="team--block-i">
                            <div class="team--block-img">
                                <img src="images/isomiddin.png" alt="">
                            </div>
                            <div class="team--pos">
                                <div class="team--fullname">
                                    isomiddinov sirojiddin
                                </div>
                                <div class="team--job">
                                    Biznes menedjer 
                                </div>
                            </div>
                        </div>
                      </div>
                      <div class="swiper-slide">
                        <div class="team--block-i">
                            <div class="team--block-img">
                                <img src="images/zarina.png" alt="">
                            </div>
                            <div class="team--pos">
                                <div class="team--fullname">
                                    Mirzayeva Zarina
                                </div>
                                <div class="team--job">
                                    Otdel prodaj rahbari
                                </div>
                            </div>
                        </div>
                      </div>
                      <div class="swiper-slide">
                        <div class="team--block-i">
                            <div class="team--block-img">
                                <img src="images/anas.png" alt="">
                            </div>
                            <div class="team--pos">
                                <div class="team--fullname">
                                    Anastasiya Platonova
                                </div>
                                <div class="team--job">
                                    Pradyuser  Menedjer 
                                </div>
                            </div>
                        </div>
                      </div>
                      <div class="swiper-slide">
                        <div class="team--block-i">
                            <div class="team--block-img">
                                <img src="images/kamen.png" alt="">
                            </div>
                            <div class="team--pos">
                                <div class="team--fullname">
                                    Anna kamenets
                                </div>
                                <div class="team--job">
                                    marketolog 
                                </div>
                            </div>
                        </div>
                      </div>
                      <div class="swiper-slide">
                        <div class="team--block-i">
                            <div class="team--block-img">
                                <img src="images/an.png" alt="">
                            </div>
                            <div class="team--pos">
                                <div class="team--fullname">
                                    Anna plis
                                </div>
                                <div class="team--job">
                                    marketolog 
                                </div>
                            </div>
                        </div>
                      </div>
                      <div class="swiper-slide">
                        <div class="team--block-i">
                            <div class="team--block-img">
                                <img src="images/sevinch.png" alt="">
                            </div>
                            <div class="team--pos">
                                <div class="team--fullname">
                                    Mirzaeva Sevinchhon
                                </div>
                                <div class="team--job">
                                    Otdel produkt rahbari
                                </div>
                            </div>
                        </div>
                      </div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
            <div class="team--block">
                <div class="swiper mySwiper6">
                    <div class="swiper-wrapper">
                      <div class="swiper-slide">
                        <div class="team--block-i">
                            <div class="team--block-img">
                                <img src="images/team/team-z.png" alt="">
                            </div>
                            <div class="team--pos">
                                <div class="team--fullname">
                                    Mirzayeva Zarina
                                </div>
                                <div class="team--job">
                                    Otdel prodaj rahbari 
                                </div>
                            </div>
                        </div>
                      </div>
                      <div class="swiper-slide">
                          <div class="team--block-i">
                              <div class="team--block-img">
                                  <img src="images/team/team-m.png" alt="">
                              </div>
                              <div class="team--pos">
                                  <div class="team--fullname">
                                      Mamasoliyeva Muqaddam
                                  </div>
                                  <div class="team--job">
                                      Chat menedjer 
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="swiper-slide">
                        <div class="team--block-i">
                            <div class="team--block-img">
                                <img src="images/team/team-marxabo.png" alt="">
                            </div>
                            <div class="team--pos">
                                <div class="team--fullname">
                                    Juraeva Marhabo
                                </div>
                                <div class="team--job">
                                    Soruv menedjeri
                                </div>
                            </div>
                        </div>
                      </div>
                      <div class="swiper-slide">
                        <div class="team--block-i">
                            <div class="team--block-img">
                                <img src="images/team/team-g.png" alt="">
                            </div>
                            <div class="team--pos">
                                <div class="team--fullname">
                                    Dilmurodova Guzal
                                </div>
                                <div class="team--job">
                                    Sotuv menedjeri
                                </div>
                            </div>
                        </div>
                      </div>
                      <div class="swiper-slide">
                        <div class="team--block-i">
                            <div class="team--block-img">
                                <img src="images/team/team-k.png" alt="">
                            </div>
                            <div class="team--pos">
                                <div class="team--fullname">
                                    Bekmurodova  Kubaro
                                </div>
                                <div class="team--job">
                                    Sotuv menedjeri
                                </div>
                            </div>
                        </div>
                      </div>
                      <div class="swiper-slide">
                        <div class="team--block-i">
                            <div class="team--block-img">
                                <img src="images/team/team-sh.png" alt="">
                            </div>
                            <div class="team--pos">
                                <div class="team--fullname">
                                    Mirzayeva Shohsanam
                                </div>
                                <div class="team--job">
                                    Assistent
                                </div>
                            </div>
                        </div>
                      </div>
                      <div class="swiper-slide">
                        <div class="team--block-i">
                            <div class="team--block-img">
                                <img src="images/team/team-nigora.png" alt="">
                            </div>
                            <div class="team--pos">
                                <div class="team--fullname">
                                    Musayeva Nigora
                                </div>
                                <div class="team--job">
                                    Sotuv menedjeri
                                </div>
                            </div>
                        </div>
                      </div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
            <div class="team--block">
                <div class="swiper mySwiper6">
                    <div class="swiper-wrapper">
                      <div class="swiper-slide">
                        <div class="team--block-i">
                            <div class="team--block-img">
                                <img src="images/sevinch.png" alt="">
                            </div>
                            <div class="team--pos">
                                <div class="team--fullname">
                                    Mirzaeva Sevinchhon
                                </div>
                                <div class="team--job">
                                    Otdel produkt rahbari
                                </div>
                            </div>
                        </div>
                      </div>
                      <div class="swiper-slide">
                        <div class="team--block-i">
                            <div class="team--block-img">
                                <img src="images/team/team-muxriddin.png" alt="">
                            </div>
                            <div class="team--pos">
                                <div class="team--fullname">
                                    Muxriddin Amirov
                                </div>
                                <div class="team--job">
                                    Katta kurator 
                                </div>
                            </div>
                        </div>
                      </div>
                      <div class="swiper-slide">
                        <div class="team--block-i">
                            <div class="team--block-img">
                                <img src="images/team/team-sarvar.png" alt="">
                            </div>
                            <div class="team--pos">
                                <div class="team--fullname">
                                    Anvarov Sarvar
                                </div>
                                <div class="team--job">
                                    Kurator
                                </div>
                            </div>
                        </div>
                      </div>
                      <div class="swiper-slide">
                        <div class="team--block-i">
                            <div class="team--block-img">
                                <img src="images/team/team-tursunbek.png" alt="">
                            </div>
                            <div class="team--pos">
                                <div class="team--fullname">
                                    Avazbekov Tursunbek
                                </div>
                                <div class="team--job">
                                    Target Kurator
                                </div>
                            </div>
                        </div>
                      </div>
                      <div class="swiper-slide">
                        <div class="team--block-i">
                            <div class="team--block-img">
                                <img src="images/team/team-komila.png" alt="">
                            </div>
                            <div class="team--pos">
                                <div class="team--fullname">
                                    Xismatullina Komila
                                </div>
                                <div class="team--job">
                                    SMM kurator
                                </div>
                            </div>
                        </div>
                      </div>
                      <div class="swiper-slide">
                        <div class="team--block-i">
                            <div class="team--block-img">
                                <img src="images/team/team-eldor.png" alt="">
                            </div>
                            <div class="team--pos">
                                <div class="team--fullname">
                                    Eldor Karimov
                                </div>
                                <div class="team--job">
                                    Yordamchi
                                </div>
                            </div>
                        </div>
                      </div>
                      <div class="swiper-slide">
                        <div class="team--block-i">
                            <div class="team--block-img">
                                <img src="images/team/team-ismoil.png" alt="">
                            </div>
                            <div class="team--pos">
                                <div class="team--fullname">
                                    Alimov Ismoil
                                </div>
                                <div class="team--job">
                                    Tex poderjka
                                </div>
                            </div>
                        </div>
                      </div>
                      <div class="swiper-slide">
                        <div class="team--block-i">
                            <div class="team--block-img">
                                <img src="images/team/team-shaxrizoda.png" alt="">
                            </div>
                            <div class="team--pos">
                                <div class="team--fullname">
                                    Axmedova Shaxrizoda
                                </div>
                                <div class="team--job">
                                    Sertifikat bo'limida
                                </div>
                            </div>
                        </div>
                      </div>
                      <div class="swiper-slide">
                        <div class="team--block-i">
                            <div class="team--block-img">
                                <img src="images/team/team-muhammadsodiq.png" alt="">
                            </div>
                            <div class="team--pos">
                                <div class="team--fullname">
                                    Muhammadsodiq <br>
                                    Shamsidinov
                                </div>
                                <div class="team--job">
                                    grafik dizayner
                                </div>
                            </div>
                        </div>
                      </div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
        </div>
    </div>
</div>