<div class="header">
    <div class="header--fon">
        <img src="images/fon/font-header.png" alt="">

    </div>
    <div class="container">
        <div class="header--wrap">
            <div class="header--logo">
                <img src="images/logo/logo.svg" alt="">
                <span>
                    <img src="images/logo/logo-text.png" alt="">
                </span>
            </div>
            <div class="header--right">
                <div class="header--menu">
                    <a href="#ourabout" class="header--item">
                        Biz haqimizda
                    </a>
                    <a href="#courses" class="header--item">
                        Kurslar
                    </a>
                    <a href="#pupils" class="header--item">
                        O'quvchilar
                    </a>
                    <a href="#team" class="header--item">
                        Jamoa
                    </a>
                </div>
                <!-- <button class="header--btn">
                    bog’lanish
                </button> -->
            </div>
            <div class="header--menus">
                <svg width="21" height="4" viewBox="0 0 21 4" fill="none" xmlns="http://www.w3.org/2000/svg"><rect width="21" height="4" rx="2" fill="#014ED8"/></svg>
                <svg width="21" height="4" viewBox="0 0 21 4" fill="none" xmlns="http://www.w3.org/2000/svg"><rect width="21" height="4" rx="2" fill="#014ED8"/></svg>
            </div>
            <div class="header--responsive">
                <a href="#ourabout" class="header--item">
                    Biz haqimizda
                </a>
                <a href="#courses" class="header--item">
                    Kurslar
                </a>
                <a href="#pupils" class="header--item">
                    O'quvchilar
                </a>
                <a href="#team" class="header--item">
                    Jamoa
                </a>
            </div>
        </div>
    </div>
</div>