.cases {
    padding: 50px 0px;
    position: relative;
    &--title {
        font-style: normal;
        font-weight: 700;
        font-size: 64px;
        line-height: 69px;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: #000000;
    }
    &--box {
        margin-left: -10px;
        margin-right: -10px;
        margin-top: 80px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }
    &--item {
        flex-basis: 18.6%;
        max-width: 18.6%;
        padding-right: 10px;
        padding-left: 10px;
        margin-bottom: 30px;
        filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.1));
    }
    &--img {
        position: relative;
        overflow: hidden!important;
        height: 220px;
        img {
            -webkit-transition: 1s;
            -o-transition: 1s;
            transition: 1s;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            -o-object-fit: cover;
            object-fit: cover;
            border-radius: 10px;
        }
        span {
            background: rgba(1, 78, 216, 0.4);
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            border-radius: 4px;
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
            text-align: right;
            letter-spacing: 0.05em;
            color: #FFFFFF;
            padding: 4px 8px;
            position: absolute;
            top: 20px;
            right: 10px;
            z-index: 99;
        }
    }
    &--bottom {
        display: flex;
        margin-top: 10px;
        transition: ease .2s;
        cursor: pointer;
        &:hover {
            .cases--bottom-add {
                background-color: #014ED8;
                transition: ease .6s;
            }
        }
    }
    &--bottom-add {
        padding: 12px 21px;
        background-color: #1D1D1B;
        border-bottom-left-radius: 8px;
        border-top-left-radius: 8px;
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 20px;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: #FFFFFF;
    }
    &--bottom-svg {
        padding: 11px;
        background-color: #014ED8;
        border-bottom-right-radius: 8px;
        border-top-right-radius: 8px;
    }
    &--name {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        text-align: right;
        letter-spacing: 0.05em;
        color: #F1F1F1;
        position: absolute;
        bottom: 14px;
        right: 10px;
        z-index: 99;
    }
    &--fon-left {
        position: absolute;
        left: 0px;
        bottom: -271px;
        z-index: -1;
    }
    &--fon-right {
        position: absolute;
        right: 0;
        z-index: -1;
    }
    &--fon-bottom {
        position: absolute;
        bottom: -43%;
        z-index: -1;
    }
    &--modal-img {
        height: 420px;
        width: 44%;
        position: relative;
        margin-right: 50px;
        img {
            display: block;
            -webkit-transition: 1s ease;
            -o-transition: 1s ease;
            transition: 1s ease;
            -o-object-fit: cover;
            object-fit: cover;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
        }
        video {
            display: block;
            -webkit-transition: 1s ease;
            -o-transition: 1s ease;
            transition: 1s ease;
            -o-object-fit: cover;
            object-fit: cover;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
        }
    }
    &--modal-flex {
        display: flex;
        align-items: center;
    }
    &--modal-title {
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 40px;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: #000000;
    }
    &--modal-box {
        width: 56%;
        ul {
            margin-top: 20px;
            margin-bottom: 20px;
        }
    }
    &--modal-item {
        margin-bottom: 10px;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 140%;
        /* or 25px */
        
        letter-spacing: 0.05em;
        color: #333333;
        span {
            color: #014ED8;
        }
    }
    &--modal-btn {
        display: flex;
        align-items: center;
    }
    &--modal-btns {
        padding: 17px 80px;
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 27px;
        text-align: center;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: #FFFFFF;
        cursor: pointer;
        &.black {
            background: #111111;
            box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.25);
            border-radius: 8px;
            margin-right: 25px;
        }
        &.blue {
            background: #014ED8;
            box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.25);
            border-radius: 8px;
        }
    }
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 99; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }