.ourabout {
    padding: 130px 0px;
    position: relative;
    &--title {
        font-style: normal;
        font-weight: 700;
        font-size: 64px;
        line-height: 69px;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: #1D1D1B;  
        img {
            height: 46px;
        }     
    }
    &--header {
        display: flex;
        align-items: center;
    }
    &--card {
        padding: 0px 26px;
        background-color: #1D1D1B;
        box-shadow: 6px 8px 17px -2px rgba(164, 253, 8, 0.55);
        border-radius: 12px;
        height: 132px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    &--card-title {
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 120%;
        letter-spacing: 0.05em;
        color: #A4FD08;
    }
    &--card-text {
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 120%;
        letter-spacing: 0.05em;
        color: #F1F1F1;
    }
    &--flex {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 20px;
    }
    .w-50 {
        flex-basis: 50%;
        max-width: 50%;
    }
    .w-15 {
        flex-basis: 15%;
        max-width: 15%;
    }
    .w-20 {
        flex-basis: 20%;
        max-width: 20%;
    }
    .w-40 {
        flex-basis: 40%;
        max-width: 40%;
    }
    .w-24 {
        flex-basis: 24%;
        max-width: 24%;
    }
    .w-32 {
        flex-basis: 32%;
        max-width: 32%;
    }
    .w-41 {
        flex-basis: 41%;
        max-width: 41%;
    }
    &--fon {
        position: absolute;
        top: -215px;
        z-index: -1;
        right: 272px;
    }
}
